@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800;900&display=swap');

/* global settings
====================*/

* {
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
}

img {
    /* set max width for images so they don't run off the screen */
    margin: 0;
    max-width: 100%;
    height: auto;
}

.container {
    /* Make sure the text doesn't touch the side of the screen */
    width: 95%;
    margin: 0 auto;
}

.title-container {
    display: inline-block;
    height: auto;
    text-align: center;
}

.subtitle-container {
    display: inline-block;
    max-width: 95%;
    height: auto;
    text-align: center;
}

/* typography
====================== */

h1 {
    font-weight: 500;
    font-size: 1.5rem;
    color: coral;
}

@media (min-width:55rem) {
    h1 {
        font-size: 2.5rem;
    }
}

.home-about-textbox span {
    font-size: 14px;
    color: #ffffff;
}

@media (min-width:55rem) {
    .home-about-textbox span {
        font-size: 20px;
    }
}

.title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 65px;
    line-height: 100%;
    text-transform: uppercase;
    color: #ffffff;
}

.title span {
    color: coral;
}

@media (min-width:55rem) {
    .title {
        font-size: 120px;
    }
}

.subtitle {
    margin-top: 40px;
    padding: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    color: #ffffff;
}

@media (min-width:55rem) {
    .subtitle {
        font-size: 30px;
    }
}

.title span {
    color: coral;
}

/* buttons */

.button {
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .3em 1.5em;
}

@media (min-width:55rem) {
    .button {
        font-size: 2rem;
    }
}

.button-small {
    font-size: 0.7rem;
}

@media (min-width:30rem) {
    .button-small {
        font-size: 1rem;
    }
}

@media (min-width:60rem) {
    .button-small {
        font-size: 1.2rem;
    }
}

.button-accent {
    color: coral;
}

.button-accent:hover,
.button-accent:focus {
    background: coral;
    color: #232323;
}

/* header
========================== */

.header {
    /* The entire navigation bar at the top */
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    background: slategray;
    outline: 3px solid #232323;
    text-align: center;
    position: fixed;
    box-shadow: 0 0 1em 0 rgba(0,0,0,1);
}

.logo {
    /* Set logal inline with buttons */
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px 0 0;
    width: 40px;
    height: auto;
}

ul {
    /* The strip containing all the buttons in header */
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    list-style: none;
}

li {
    /* The container that holds the Text */
    float: left;
    margin: 15px 10px 15px 10px;
}


nav a{
    /* The text (button) itself */
    font-weight: 500;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 5px; /*makes a bigger clickable area*/
    color: #ffffff;
}

nav a:hover,
nav a:focus {
    font-weight: 700;
}

@media (min-width:45em) {
    .logo {
        width: 100px;
        height: auto;
    }
    nav a{
        font-size: 18px;
        padding: 10px 10px;
    }
}

/* home-hero
=================== */

.home-hero {
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 25vh;
    height: 100vh;
}

/* home-about
=================== */

.home-about {
    width: 100%;
    background-color: #232323;
    padding: 3em;
    outline: 2px solid coral;
    outline-offset: -2.5em;
    padding-top: 10vh;
    height: 100vh;
}

.home-about-textbox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    color: #ffffff;
}

.home-about-textbox p {
    font-size: 10pt;
}

.rectangle {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6vh;
    width: 200px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    background:#232323;
}

.selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18vh;
    position: absolute;
    padding: 0;
    width: 150px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 50rem) {
    .home-about-textbox p {
        font-size: 14pt;
    }

    .rectangle {
        margin-top: -6vh;
        width: 350px;
        height: 50px;
    }
    
    .selfie {
        margin-top: -18vh;
        width: 250px;
        height: auto;
    }
}

/* home-portfolio
=================== */

.home-portfolio {
    margin: 0;
    padding-top: 0.1em;
    width: 100%;
    background-color: #232323;
    text-align: center;
}

#gifs {
    /* Prevent vertical gaps */
    column-count:         1;
    column-gap:           0px;  
}

.port-item {
    margin: 0;
    position: relative;
    background-color: #161616;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    padding-bottom: 2em; 
    color: rgba(255,255,255,1);
    background: rgba(0,0,0,.75);
}

.port-desc p {
    margin: 0.4em;
}

@media (min-width: 30rem) {
    #gifs {
        column-count:         2;
    }

    .port-item:hover img {
        opacity: 0.3;
    }
    
    .port-desc {
        display: none;
        background: rgba(0,0,0,0);
    }
    
    .port-item:hover .port-desc {
        display: block;
        color: rgba(255,255,255,1);
        background: rgba(0,0,0,0);
    }
}

@media (min-width: 80rem) {
    #gifs {
        column-count:         3;
    }
}
